/* s */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=Roboto&display=swap");

:root {
  --bs-font-headings: "Montserrat", sans-serif;
  --bs-font-paragraph: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--bs-font-headings);
}

p {
  font-family: var(--bs-font-paragraph);
}

.overlay{
   position: absolute;
   top: 0; 
   width: 100%;
   height: 90vh;
   background-image: linear-gradient(rgba(199, 199, 199, 0.3), rgba(0, 0, 0, 0.3)); 
   z-index: 100;
}

.hero { 
  width: 100%;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(252, 250, 250);
  padding: 3rem 0;
  z-index: 200;
}

.hero-text .title {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem!important;
  font-weight: 700;
  text-shadow: 2px 2px 2px black;
}

section {
   padding: 4rem 0; 
}

section:nth-child(even){
   background-color: rgb(200, 200, 200);
}

.btn{
   padding: .8rem 1.6rem!important;
}

.title {
  text-align: center;
  margin: 3rem 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.team-member {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.team-img {
  border-radius: 50%;
}

.about-text {
  padding-top: 1rem 0;
}

.sub-title {
  padding: 3rem 0 1rem 0;
}

.form-text {
  padding: 1rem 0;
}

textarea{
   resize: none!important;
}

::placeholder { 
   text-align: center; 
 }

.contact-text {
  line-height: 3;
  text-decoration: none!important; 
}

.contact-text a{
  text-decoration: none!important;
  color: black;
  display: flex;
  place-items: center; 
}

.contact-text a:hover{
   color: rgb(78, 78, 78);
}

.contact-icon {
   place-items: center;
}
 
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: rgb(100, 100, 100);
  padding: 3rem 0;
  color: white;
}

.hidden {
  display: none;
}
